* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    line-height: 1.7em;
}
.l-box {
    padding: 1em;
}
.header {
    margin: 0 0;
}
.header .pure-menu {
    padding: 0.5em;
}
.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
    background: none;
    border: none;
    color: #aaa;
}
body .primary-button {
    background: #02a6eb;
    color: #fff;
}
.splash {
    margin: 2em auto 0;
    padding: 3em 0.5em;
    background: #eee;
}
.splash .splash-head {
    font-size: 300%;
    margin: 0em 0;
    line-height: 1.2em;
}
.splash .splash-subhead {
    color: #999;
    font-weight: 300;
    line-height: 1.4em;
}
.splash .primary-button {
    font-size: 150%;
}
.content .content-subhead {
    color: #999;
    padding-bottom: 0.6em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}
.content-ribbon h3{
    position: relative;
    top: 10px;
}
.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}
.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
.ribbon h2 {
    display: inline;
    font-weight: normal;
}
.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}
.footer-contato{
	background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
    position: absolute;
    width: 100%;
    margin-bottom: 0;
}
@media(max-width: 768px){
    .footer-details{
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
    margin-top: 80px;
    }
}
@media (min-width: 768px){
    .footer-details{
        position: absolute;
        bottom: 0;
        background: #111;
        color: #666;
        text-align: center;
        padding: 1em;
        font-size: 80%;
        width: 100%;
    }
}

#contato{
	position: relative;
	top: 50px;
	width: 20%;
	margin: 0 auto;
	text-transform: uppercase;
	text-align: center;
}
.contato{
	position: relative;
	top: 80px;
}
h3{
    margin-bottom: 10px;
}

#cursos{
    position: relative;
    top: 50px;
    width: 330px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #cecece;
}
h4{
    position: relative;
    font-weight: bold;
    top: 20px;
    border-bottom: 1px dotted #cecece;
    padding-bottom: 40px;
}
.cursos-imagem{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #cecece;
}
.descricao{
    position: relative;
}


.lembrar{
    position: relative;
    top: 50px;
}