{% extends "home.html" %}
{% block header %}
<div class="page-header" id="contato">
	<h3>Contato</h3>
</div>
<div class="container-fluid contato">
	<div class="row">
		<div class="col-sm-12">
			<h3>Para nos contactar siga os endereços a seguir:</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h2>Email</h2><h4><a href="mailto:jgsorio@allnetgroup.com.br">jgsorio@allnetgroup.com.br</a></h4>
			<h2>Twitter</h2><h4><a href="mailto:jgsorio@allnetgroup.com.br">@joseguilhermesorio</a></h4>
		</div>
	</div>
</div>

<div class="footer-contato">
    Simple MOOC - Uma simples plataforma de ensino a distância
</div>

{% endblock %}